* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

.dbgrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* grid-template-columns: 1fr 6fr; */
}